/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body {
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 16px;
}


/*　パディングをサイズ内側にする処理　*/
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述
width:: 〇〇;（幅を指定）
heigth: 〇〇;（高さを指定）
color: ;（文字色の指定）
background： 〇〇；（背景の指定をまとめて行う）
background: url(../img...)（画像ファイルの場所を指定）
　背景に画像を指定する際には、背景色と文字色も同時に指定するようにしてください
background-img （背景画像を指定する）
background-size: cover;（背景画像の大きさ）
background-position: center;（背景画像位置）
background-repeat （背景画像のリピートの仕方を指定する）repeat-x（横方向）repeat-y（縦方向）
*/
/*ーーーーーーーーーーー*/
body {
	max-width: 960px;
}

/* 最上段タイトル部分 
.title 
　背景に写真挿入　高さを400px */
.title {
	color: white;
	background-color: rgb(195, 13, 13);
	background-image: url(../img/mainbg.png);
	width: 960px;
	height: 350px;
	background-size: cover;
	background-position: center;
}

.title_h1 {
	font-size: 48px;
	font-family: "游ゴシック体", sans-serif;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-bottom: 20px;
	padding-top: 50px;
}

.title_p {
	font-size: 36px;
	font-family: "游ゴシック体", sans-serif;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	margin-top: 20px;
}

/* menu部分 */
.menu {
	font-size: 21px;
	display: flex;
	padding: 10px;
	border-bottom: solid 2px #efefef;
}

.menu_pic{
	margin-left: 80px;
}

.menu_space{
	width: 120px;
}

.menu_side {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.aaa{
	text-align: center;
}

.ABOUT{
	font-size: 24px;
	color: #ffd61a;
	margin-top: 120px;
}

.cheese{
	margin-top: 24px;
	margin-bottom: 64px;
}

.cheese_1{
	margin-top: 40px;
}

.cheese_2{
	margin-bottom: 80px;
}

.cheese_3{
	margin-top: 40px;
	margin-bottom: 40px;
}

.imege {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 64px;
}

.imege img {
	display: block;
	width: 100%;
}

.imege_pictue {
	width: 25%;
	height: auto;
}

/* course */

.COURSE_box{
	margin-bottom: 64px;
	text-align: center;
}

.Course{
	font-size: 24px;
	color: #222222;
}

.course_01{
	display: flex;
	justify-items: center;
	align-items: center;
	background-color: #fafafa;
	width: 100%;
	height: auto;
}

.course_01 img{
	width: 100%;
}

.course_01_1{
	width: 50%;
	height: auto;
}

.course_01_2{
	width: 50%;
	height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
}

.course_01_3{
	margin-left: 48px;
	margin-right: 48px;
}

.honkaku{
	font-size: 24px;
	color: #222222;
	margin-bottom: 40px;
}

.course_02 {
	display: flex;
	justify-items: center;
	align-items: center;
	background-color: #fafafa;
}

.course_02_01{
	width: 50%;
	height: auto;
}

.course_02_02{
	width: 50%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.course_02_3{
	margin-left: 48px;
	margin-right: 48px;
}

.course_02 img{
	width: 100%;
	height: auto;
}
.chishiki{
	font-size: 24px;
	color: #222222;
	margin-bottom: 40px;
}

.course_03 {
	display: flex;
	justify-items: center;
	align-items: center;
	background-color: #fafafa;
}

.course_03 img{
	width: 100%;
	height: auto;
}

.course_03_01{
	width: 50%;
	height: auto;
}

.course_03_02{
		width: 50%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
}

.course_03_03{
		margin-left: 48px;
		margin-right: 48px;
}

.shinsa{
		font-size: 24px;
		color: #222222;
		margin-bottom: 40px;
}

/* news */

.NEWS_margin{
	margin-top: 64px;
	margin-bottom: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.NEWS{
	font-size: 24px;
	color: #ffd61a;
}

.news_photo{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.news_photo_margin{
	margin-left: 32px;
	margin-right: 32px;
}

.day{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 32px;
	margin-bottom: 24px;
}

.coment{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.coment_center{
	margin-left: 32px;
	margin-right: 32px;
}

.More_box{
	margin-top: 54px;
	margin-bottom: 48px;
	background-color: #ffd61a;
	color: white;
	font-size: 21px;
	width: 300px;
	height: 60px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.Access_ALL{
	background-color: #fafafa;
	text-align: center;
	padding-bottom: 56px;
	padding-top: 64px;
}

.Access{
	font-size: 24px;
	color: #222222;
	width: auto;
	margin-top: 64px;
}

.Access_company{
	margin-top: 24px;
	margin-bottom: 64px;
}
.Access_ALL img{
	width: 70%;
	aspect-ratio: 16/9;
	margin-bottom: 64px;
}

.margin{
	width: 15%;
	height: 15%;
}

.margin_center{
	width: 48px;
}

.Access_b{
	display: flex;
	text-align: left;
}

.Access_a{
	margin-bottom: 24px;
}

.Contact{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 80px;
}

.CONTACT_01{
	margin-bottom: 15px;
}

.Contact_zehi{
	margin-top: 50px;
	margin-bottom: 32px;
}

.margin01{
	width: 100px;
}

.toiawase{
	border: #bfbfbf;
	margin-bottom: 24px;
	text-align: center;
}

input{
	border: 2px solid #bfbfbf;
}


/*どの部分のcssに対して
命令をしているのかコメントを
記載しよう！
---------------------*/
/*  */

/*  */

/*
---------------------*/



/*
---------------------*/



/*
---------------------*/



/*
---------------------*/